name: Build

on:
    push:
        branches: [ 'master' ]
    pull_request:
        branches: [ '**' ]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions: { }

jobs:
    build:
        name: Build(Without Test)
        runs-on: ubuntu-latest
        permissions:
            contents: read # to read code
        steps:
            -   name: Harden Runner
                uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
                with:
                    egress-policy: audit

            -   name: Checkout
                uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
                with:
                    persist-credentials: false

            -   name: Setup Base Environment
                uses: ./.github/actions/setup-base-environment

            -   name: Build without test
                run: ./gradlew build -x test

            -   name: Upload a Build Artifact
                uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
                with:
                    # Artifact name
                    name: McDeob-Artifact
                    # A file, directory or wildcard pattern that describes what to upload
                    path: |
                        build/libs/McDeob-*-all.jar

    test:
        name: Test
        needs: [ build ]
        strategy:
            matrix:
                os: [ ubuntu-latest, windows-latest, macos-latest ]
        runs-on: ${{ matrix.os }}
        permissions:
            contents: write # to write junit reports
            checks: write # to write junit reports
            id-token: write # to write junit reports
        steps:
            -   name: Harden Runner
                uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
                with:
                    egress-policy: audit

            -   name: Checkout
                uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
                with:
                    persist-credentials: false

            -   name: Setup Base Environment
                uses: ./.github/actions/setup-base-environment

            -   name: Test
                run: ./gradlew test

            -   name: Publish Test Report
                uses: mikepenz/action-junit-report@5e05ac00ad0604dfb7e313ae412aa3284f4906d6 # v6
                if: success() || failure()
                with:
                    report_paths: '**/build/test-results/test/TEST-*.xml'
